<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="media">
				<%= image_tag @user.get_profile_picture, class: "pull-left" %>
				<div class="media-body">
					<h4 class="media-heading">
						<%= @user.name %>
					</h4>
					from <%= @user.get_location %>
				</div>
			</div>
			<div class="books">
				<% @user.get_books.each do |book| %>
				<p>
					<%= book["name"] %>
				</p>
				<%end%>
			</div>
		</div>
		<div></div>
		<div class="col-lg-8">
			<% @user.posts.order("created_at DESC").each do |post| %>
			<div class="post well">
				<h5>
					<%= post.title %>
				</h5>
				<p>
					<%= post.content %>
				</p>
				<div class="pull-left label label-info"><%= time_ago_in_words(post.created_at) %> ago</div>
				<% if post.user == current_user %>
				<div class="pull-right">
					<%= link_to 'edit', edit_post_path(post), class: "btn btn-xs btn-primary" %> | <%= link_to 'destroy', post, method: :destroy, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %>
				</div>
				<%end%>
			</div>
			<%end%>
		</div>
	</div>
</div>